#main_background {
	width: 100%;
	position:absolute;
    left:0px;
    top:0px;
    z-index:-1;
    opacity: 0.25;
    transform: rotate(180deg);
    height: 100%;
}

h1 {
	color:  #555;
	font-family:  arial;
}

nav ul {
	background-color: #555;
	list-style-type: none;
	margin:  0;
	overflow:  hidden;
	padding: 0;
}

nav li {
	float:  left;
}

nav a {
	color:  #fff;
	display: block;
	font-familiy:  arial;
	padding: 10px 10px;
	text-decoration: none;
}

nav a:hover{
	background-color: #f00;
}