{% load static %}
<!DOCTYPE html>
<html>
<head>
	<title>{{ title }}</title>
	<link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %} "
</head>
<body>


	<img id="main_background" src="{% static main_background %}" alt="">

	<nav>
		<ul>

			{% for link,name in nav %}
				<li><a href="{{link}}" title="">{{name}}</a></li>
			{% endfor %}

		</ul>
	</nav>

	<h1>Welcome to {{ title }}</h1>
	<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>

</body>
</html>